/rr-et/node_modules
/rr-et/public/hot
/rr-et/public/storage
/rr-et/storage/*.key
/rr-et/vendor
.env
.env.backup
.phpunit.result.cache
/rr-et/Homestead.json
/rr-et/Homestead.yaml
/rr-et/npm-debug.log
/rr-et/yarn-error.log

/rr-et/cypress/videos/**/*

/terraform/id_rsa_terraform
/terraform/id_rsa_terraform.pub
/terraform/production.tfvars

/terraform/.terraform/**/*
/terraform/.envrc
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/crash.log